@import url(https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i);

body {
  font-family: "Google Sans", sans-serif;
}

button {
  outline: none;
}

#resto_input {
  width: 380px;
  height: 45px;
  border: solid 0px whitesmoke;
  box-shadow: 0px 5px 10px rgb(207, 207, 207);
  border-radius: 30px;
  padding-left: 20px;
  margin: 10px 10px 0px 0px;
}

#resto_input:focus {
  border-radius: 30px;
  border: solid 0px whitesmoke;
  box-shadow: 0px 5px 10px rgb(119, 196, 144);
  outline: none;
  padding-left: 20px;
  transition: 0.2s;
}

#resto_input:focus + #resto_submit {
  box-shadow: 5px 5px 10px rgb(119, 196, 144);
  transition: 0.2s;
}

.responsive {
  height: auto;
  width: 90%;
}

#block_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
}

#formulaire {
  width: 800px;
  padding-left: 20px;
}

#title {
  font-size: xx-large;
}

#cuisto {
  display: flex;
  justify-content: flex-end;
}

#btn_register {
  background-color: #36d085;
  outline: none;
  color: white;
}

#btn_register:hover {
  background-color: #189a51;
  transition: 0.2s;
}

.barbtn {
  display: none;
}

#menufood {
  border-left: solid 1px black;
  margin-left: 10px;
  padding-left: 10px;
}

#imgcarte {
  width: 450px;
  height: 200px;
  border-radius: 30px 30px 0 0;
}

a:hover {
  text-decoration: none;
}

#carteresto {
  width: 450px;
  height: 300px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 15px rgba(61, 61, 61, 0.4);
  color: black;
}

#carteresto:hover {
  background-color: #19b65d;
  transition: 0.4s;
  color: white;
}

#headernav.active {
  box-shadow: none;
  transition: 0.5s;
}

#headernav.active {
  box-shadow: 0 0 15px rgba(61, 61, 61, 0.4);
  transition: 0.5s;
}

#section_resto {
  background-image: url("../img/mapbg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 900px;
  height: 900px;
  left: -100px;
  margin-top: 100px;
  z-index: -1;
}

#container_resto {
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  box-shadow: 0 20px 50px rgba(119, 119, 119, 0.4);
  margin-top: 90px;
  width: 800px;
  float: right;
}

#bg_section {
  background-color: rgb(54, 208, 133);
  height: 900px;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  top: 1500px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  color: black;
  text-align: center;
  z-index: 1;
}

#signature {
  color: rgb(68, 68, 68);
}

#container_form {
  border-radius: 30px;
  width: 50%;
}

#hamburger_register {
  position: fixed;
  z-index: -1;
  background-image: url("../img/hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  left: -100px;
  top: 140px;
}

#chef_bg {
  position: fixed;
  z-index: -2;
  background-image: url("../img/folder.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  left: 0px;
  top: 190px;
}

#resto_bg {
  position: fixed;
  z-index: -2;
  background-image: url("../img/resto.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  left: 0px;
  top: 190px;
}

#container_card_resto {
  position: absolute;
  margin-top: 21%;
  margin-left: 21%;
  width: 57%;
}

#card_resto {
  width: 400px;
}

#profile {
  height: 500px;
}

#barrevt {
  width: 2px;
  height: 90%;
  background-color: #36d085;
}

#imgprofile {
  margin-top: 50px;
  width: 170px;
  height: 170px;
  border: 3px solid rgb(33, 201, 108);
  padding: 5px;
}

#salon_register {
  position: fixed;
  z-index: -1;
  background-image: url("../img/salon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  right: -40px;
  top: 425px;
}

#form_login {
  display: flex;
  justify-content: center;
}

.resto_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
}

.resto_tag {
  background-color: white;
  padding: 10px 100px 10px 20px;
  align-items: center;
  border-radius: 0 30px 100px 0;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 449px) {
  #block_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 50px;
  }
  #menufood {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }

  #formulaire {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #title {
    font-size: xx-large;
    text-align: center;
    margin-right: 15px;
  }

  #cuisto {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #resto_input {
    width: 250px;
    height: 45px;
  }
  #resto_submit {
    width: 70px;
    height: 45px;
  }

  #champ_form {
    display: flex;
    justify-content: center;
  }
  #container {
    display: flex;
    align-self: center;
    width: 100%;
  }
  #bouton_user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .barbtn {
    display: block;
  }

  #section_resto {
    background-image: url("../img/mapbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -1;
    top: 700px;
    left: -80px;
  }

  #container_resto {
    width: 85%;
    display: flex;
    position: absolute;
    justify-self: center;
    top: 650px;
    left: 7.5%;
  }

  #bg_section {
    background-color: rgb(54, 208, 133);
    position: absolute;
    height: 1000px;
    width: 100%;
    z-index: -2;
    top: 700px;
  }

  .footer {
    position: absolute;
    display: block;
    top: 1900px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: black;
    text-align: center;
    z-index: 1;
  }

  #hitema {
    padding: 10px;
  }

  #signature {
    padding: 10px;
  }

  #nom {
    padding: 10px;
  }

  #container_form {
    width: 90%;
  }

  #container_p_login {
    margin-top: 100px;
  }

  #hamburger_register {
    position: fixed;
    z-index: -1;
    background-image: url("../img/hamburger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    left: -100px;
    top: 100px;
  }

  #salon_register {
    position: fixed;
    z-index: -1;
    background-image: url("../img/salon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    right: -40px;
    top: 520px;
  }

  #form_login {
    display: block;
  }

  #container_form {
    width: 90%;
  }

  #container_p_login {
    margin-top: 100px;
  }
}
