{% extends "base.html" %}
{% block title %}Mon restaurant{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" id="menufood">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span
          class="sr-only">(current)</span></a>
    </li>
    {% endif %}
  </ul>
  <hr class="hr barbtn">
  {% if user.is_authenticated %}
  <div id="bouton_user">
    <b>{{ user.first_name }} {{user.last_name}}</b>
    <a class="ml-3" href="{% url 'deconnexion' %}">
      <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
    </a>
  </div>
  {% else %}
  <div id="bouton_user">
    <a href="{% url 'connexion' %}">
      <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
    </a>
    <a href="{% url 'inscription' %}">
      <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="bg-white rounded-lg shadow-lg m-5 p-2">
    <div class="text-center py-4 d-flex justify-content-around">
      <h1><i class="fas fa-store-alt mr-2" style="color: #36d085;"></i> <b>{{ resto.name }}</b></h1>
      <a href="../{{user.username}}">
        <button id="btn_register" class="btn btn-lg"><i class="fas fa-arrow-left mr-2"></i> Retour</button>
        </a>
      <a href="../{{user.username}}">
        <button class="btn btn-warning btn-lg"><i class="fas fa-pen mr-2"></i> Modifier</button>
        </a>
      <a href="../{{user.username}}">
        <button class="btn btn-danger btn-lg"><i class="fas fa-pen mr-2"></i> Supprimer</button>
        </a>
    </div>
    <div class="container">
    <table class="table text-center table-striped table-bordered table-sm">
      <thead class="thead-dark" >
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Code postal</th>
          <th scope="col">Ville</th>
          <th scope="col">Email</th>
          <th scope="col">Image</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Plat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="align-middle" scope="row">{{ resto.name }}</th>
          <td class="align-middle">{{ resto.address }}</td>
          <td class="align-middle">{{ resto.postal_code }}</td>
          <td class="align-middle">{{ resto.city }}</td>
          <td class="align-middle">{{ resto.mail }}</td>
          <td class="align-middle"><img src="../../{{ resto.image }}" class="img-thumbnail"></td>
          <td class="align-middle">{{ resto.categories }}</td>
          <td class="align-middle">{{ resto.dishes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
<div id="resto_bg"></div>
{% endblock %}
{% block footer %}
{% endblock %}