{% extends "base.html" %}
{% block title %}Mes restaurants{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" id="menufood">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span
          class="sr-only">(current)</span></a>
    </li>
    {% endif %}
  </ul>
  <hr class="hr barbtn">
  {% if user.is_authenticated %}
  <div id="bouton_user">
    <b>{{ user.first_name }} {{user.last_name}}</b>
    <a class="ml-3" href="{% url 'deconnexion' %}">
      <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
    </a>
  </div>
  {% else %}
  <div id="bouton_user">
    <a href="{% url 'connexion' %}">
      <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
    </a>
    <a href="{% url 'inscription' %}">
      <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="bg-white rounded-lg shadow-lg m-5 p-2">
    <div class="text-center py-4 d-flex justify-content-around">
      <h1><i class="fas fa-store-alt mr-2" style="color: #36d085;"></i> <b>Mes restaurants</b></h1>
      <a href="{% url 'create-resto' user.username %}">
        <button id="btn_register" class="btn btn-lg"><i class="fas fa-plus mr-2"></i> Ajouter un restaurant</button>
        </a>
    </div>
    <div class="container">
    <table class="table text-center table-striped table-bordered table-sm">
      <thead class="thead-dark" >
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Lieu</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
           {% for resto in restaurants %}
        <tr>
          <th class="align-middle" scope="row">{{ resto.name}}</th>
          <td class="align-middle">{{resto.city}}</td>
          <td class="align-middle">
              <a href="{% url 'read-resto-admin' user.username resto.name %}">
                  <button class="btn btn-primary"><i class="fas fa-eye"></i></button>
                </a>
                <a href="#">
                  <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <th colspan="3">Vous n'avez renseigné aucun restaurant pour le moment !</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if restaurants.has_other_pages %}
  <nav aria-label="Pagination" >
  <ul class="pagination justify-content-center">
    {% if restaurants.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ restaurants.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
    {% endif %}
    {% for i in restaurants.paginator.page_range %}
      {% if restaurants.number == i %}
      <li class="page-item active"><span class="page-link">
        {{ i }}
        <span class="sr-only">(current)</span>
      </span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if restaurants.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ restaurants.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
  </div>
</div>
<div id="resto_bg"></div>
{% endblock %}
{% block footer %}
{% endblock %}