{% extends "base.html" %}
{% block title %}Créer un restaurant{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="menufood">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span
            class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
    <hr class="hr barbtn">
    {% if user.is_authenticated %}
    <div id="bouton_user">
      <b>{{ user.first_name }} {{user.last_name}}</b>
      <a class="ml-3" href="{% url 'deconnexion' %}">
        <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
      </a>
    </div>
    {% else %}
    <div id="bouton_user">
      <a href="{% url 'connexion' %}">
        <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
      </a>
      <a href="{% url 'inscription' %}">
        <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
      </a>
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="container d-flex justify-content-center">
    <div id="container_form" class="shadow p-3 my-5 bg-white">
       <div class="text-center">
        <h1>Ajouter votre restaurant</h1>
        <hr class="hr">
       </div>
        <div class="d-flex justify-content-center pt-3">
        <form  enctype="multipart/form-data" method="post">
            {% csrf_token %}
            
        <div class="form-group">
          <label for="id_mail">Email de contact</label>
          <input type="mail" class="form-control" id="id_mail" name="mail" required>
        </div>
        <div class="form-group">
          <label for="id_name">Nom du restaurant</label>
          <input type="text" class="form-control" id="id_name" name="name" required>
        </div>
        <div class="form-group">
          <label for="id_address">Adresse</label>
          <input type="text" class="form-control" id="id_address" name="address" required>
        </div>
        <div class="form-group">
          <label for="id_postal_code">Code postal</label>
          <input type="text" class="form-control" id="id_postal_code" name="postal_code" required>
        </div>
        <div class="form-group">
          <label for="id_city">Ville</label>
          <input type="text" class="form-control" id="id_city" name="city" required>
        </div>
        <div class="form-group">
          <label for="id_image">Photo</label>
          <input type="file" class="form-control-file" id="id_image" accept="image/*" name="image">
        </div>
      
      
              <div class="text-center my-5">
                <button type="submit" id="btn_register" class="btn">Ajouter</button>
              </div>
        </form>
    </div>
    </div>
</div>
<div id="resto_bg"></div>
{% endblock %}
{% block footer %}
{% endblock %}