{% extends 'base.html' %}
{% block title %}
	{{ restaurant.name }}
{% endblock %}
{% block content %}
	<div class="resto_img" style="background-image: url(../../{{ restaurant.image }})">
		<div class="resto_tag">
			<h1>{{ restaurant.name }}</h1>
			<p>{{ restaurant.address }}</p>
			<p>
				{{ restaurant.postal_code }}
				-
				{{ restaurant.city }}
			</p>
		</div>
	</div>
	<div class="container" id="container" style="margin-top: 5%">
		<div class="card-group px-3 d-flex justify-content-center">
			<div class="row">
				{% for dish in dishes %}
					<div class="col-sm-4">
						<div class="card" id="carteresto">
							<img id="imgcarte" class="card-img-top" src="../../static/dish/{{dish.img}}" alt="{{ dish.name }}">
							<div class="card-body text-center">
								<h5 class="card-title">{{ dish.name }}</h5>
                <p>{{ dish.price }}€</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
