<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>{% block title %} FoodAddict {% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% load static %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body class="bg-white">



  <nav class="navbar navbar-expand-sm  sticky-top navbar-light bg-white" id="headernav">
    <div class="container">
      {% load static %}
      <a class="navbar-brand" href="{% url 'accueil' %}"><img src="{% static 'img/logo_foodaddict.png' %}"
          alt="logo foodaddict" width="150px" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% block nav %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="menufood">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accueil' %}">Accueil <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
         
        </ul>
        <hr class="hr barbtn">
        {% if user.is_authenticated %}
        <div id="bouton_user">
          <b id="utilisateurname">{{ user.first_name }} {{user.last_name}}</b>
          <a class="ml-3" href="{% url 'deconnexion' %}">
            <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
          </a>
        </div>
        {% else %}
        <div id="bouton_user">
          <a href="{% url 'connexion' %}">
            <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
          </a>
          <a href="{% url 'inscription' %}">
            <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
          </a>
        </div>
        {% endif %}
      </div>
      {% endblock %}
    </div>
  </nav>

  {% if messages %}
    {% for message in messages %}
    <div class="container">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
  </div>
      {% endfor %}
  {% endif %}


  <section id="content">
    
    {% block content %}{% endblock %}

  </section>

  {% block footer %}
  <div class="footer">
    {% load static %}
    <img id="hitema" src="{% static 'img/hitema.svg' %}" width="100" alt="logo hitema" />
    <p id="signature">&copy; FoodAddict</p>
    <p id="nom">Tony PEREIRA<br /> Elias HAMADOUCHE<br /> Julien QUEANT</p>
  </div>
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/67cdf79e52.js" crossorigin="anonymous"></script>
  {% load static %}
  <script src="{% static 'js/script.js' %}" text="javascript"></script>
</body>

</html>