{% extends "base.html" %}
{% block title %}FoodAddict
{% endblock %}
{% block content %}
	<div class="container" id="container">
		<div id="block_search">
			<div id="formulaire">
				<p id="title">
					<b><i class="fas fa-utensils mr-2" style="color: #36d085;"></i> <i>So Fast ! So Good !</i></b>
				</p>
				<p class="text-muted">FoodAddict est une façon facile de vous faire livrer vos repas préférés.</p>
			</div>
			<div id="cuisto">
				{% load static %}
				<img class="responsive" src="{% static 'img/cuisto.gif' %}"/>
			</div>
		</div>
	</div>

	<div id="bg_section">
		<div class="text-center py-5">
			<h1 class="text-white">
				<i class="fas fa-utensils mr-2"></i>
				<b>Tous les restaurants</b>
			</h1>
		</div>
		<div class="card-group px-3 d-flex justify-content-center">
			<div class="row">
				{% for resto in restaurants %}
					<div class="col-sm-4">
						<a href="restaurant/{{ resto.id }}">
							<div class="card" id="carteresto">
								<img id="imgcarte" class="card-img-top" src="../../{{resto.image}}" alt="{{ resto.name }}">
								<div class="card-body text-center">
									<h5 class="card-title">{{ resto.name }}</h5>
									<p class="card-text">
										<small>{{ resto.city }}</small>
									</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if restaurants.has_other_pages %}
			<nav aria-label="Pagination">
				<ul class="pagination justify-content-center mt-5">
					{% if restaurants.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ restaurants.previous_page_number }}#bg_section">&laquo;</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#">&laquo;</a>
						</li>
					{% endif %}
					{% for i in restaurants.paginator.page_range %}
						{% if restaurants.number == i %}
							<li class="page-item active">
								<span class="page-link">
									{{ i }}
									<span class="sr-only">(current)</span>
								</span>
							</li>
						{% else %}
							<li class="page-item">
								<a class="page-link" href="?page={{ i }}#bg_section">{{ i }}</a>
							</li>
						{% endif %}
					{% endfor %}
					{% if restaurants.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ restaurants.next_page_number }}#bg_section">&raquo;</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#">&raquo;</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
	</div>
</div>{% endblock %}
