{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" id="menufood">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
  </ul>
  <hr class="hr barbtn">
  {% if user.is_authenticated %}
  <div id="bouton_user">
    <b>{{ user.first_name }} {{user.last_name}}</b>
    <a class="ml-3" href="{% url 'deconnexion' %}">
    <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
    </a>
  </div>
            {% else %}
  <div id="bouton_user">
    <a href="{% url 'connexion' %}">
    <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
    </a>
    <a href="{% url 'inscription' %}">
    <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block content %}
    <div id="container_p_login" class="container d-flex justify-content-center">
        <div id="container_form" class="shadow p-3 my-5 bg-white">
           <div class="text-center">
            <h1>Se connecter</h1>
            <hr class="hr">
           </div>
            <div id="form_login" class="pt-3">
              {% if user.is_authenticated %}
                Vous êtes connecté, {{ user.username }} !
            {% else %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username"><i class="fas fa-user mr-2"></i> Identifiant</label>
                    <input type="text" class="form-control" id="username" name="username">
                  </div>
                  <div class="form-group">
                    <label for="InputPassword"><i class="fas fa-key mr-2"></i> Mot de passe</label>
                    <input type="password" class="form-control" id="InputPassword" name="password">
                  </div>
                  <div class="text-center my-5">
                    <button type="submit" id="btn_register" class="btn">Je me connecte</button>
                  </div>
            </form>
            {% endif %}
        </div>
        </div>
    </div>
    <div id="hamburger_register"></div>
    <div id="salon_register"></div>
{% endblock %}

{% block footer %}
    
    {% endblock %}