{% extends "base.html" %}
{% block title %}Mon espace{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" id="menufood">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span
          class="sr-only">(current)</span></a>
    </li>
    {% endif %}
  </ul>
  <hr class="hr barbtn">
  {% if user.is_authenticated %}
  <div id="bouton_user">
    <b>{{ user.first_name }} {{user.last_name}}</b>
    <a class="ml-3" href="{% url 'deconnexion' %}">
      <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
    </a>
  </div>
  {% else %}
  <div id="bouton_user">
    <a href="{% url 'connexion' %}">
      <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
    </a>
    <a href="{% url 'inscription' %}">
      <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div id="profile" class="bg-white rounded-lg shadow-lg mt-5 d-flex justify-content-around align-items-center">
    <div id="presentation" class="text-center">
      {% load static %}
      <img src="../../{{profil.avatar}}" id="imgprofile" class="img-fluid rounded-circle" alt="Image profil">
      <h4 class="mt-3 font-weight-bold">{{ profil.firstname }} {{ profil.lastname }}</h4>
      {% if user.is_superuser %}
      <h5 class="text-secondary">Administrateur</h5>
      {% elif profil.is_restaurateur %}
      <h5 class="text-secondary">Restaurateur</h5>
      {% else %}
      <h5 class="text-secondary">Client</h5>
      {% endif %}
    </div>
    <div id="barrevt"></div>
    <div>
      <div class="text-center mb-5">
        <h1><b>Mon espace</b></h1>
      </div>
      <div class="d-flex align-self-center">
        <div id="commandes" >
          <div class="text-center">
            <h5 class="mb-4"><i class="fas fa-utensils mr-2" style="color: #36d085;"></i><b> Mes commandes</b></h5>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Plat</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                  <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.dishes.name }}</td>
                    <td>{{ order.date }}</td>
                  </tr>
                {% empty %}
                  <tr>
                    <th colspan="3">Pas encore de commande !</th>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% if profil.is_restaurateur %}
      <div class="d-flex justify-content-center mt-3">
        <a href="{% url 'admin-resto' user.username %}">
          <button id="btn_register" class="btn">Gérer mes restaurants</button>
          </a>
      </div>
      {% endif %}
    </div>

  </div>
</div>
<div id="chef_bg"></div>
{% endblock %}
{% block footer %}
{% endblock %}