{% extends "base.html" %}
{% block title %}Inscription{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto" id="menufood">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'mon-espace' user.username %}">Mon espace<span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
  </ul>
  <hr class="hr barbtn">
  {% if user.is_authenticated %}
  <div id="bouton_user">
    <b>{{ user.first_name }} {{user.last_name}}</b>
    <a class="ml-3" href="{% url 'deconnexion' %}">
    <button class="btn btn-danger my-2 mx-1 my-sm-0">Se déconnecter</button>
    </a>
  </div>
            {% else %}
  <div id="bouton_user">
    <a href="{% url 'connexion' %}">
    <button id="btn_connect" class="btn my-2 mx-1 my-sm-0">Se connecter</button>
    </a>
    <a href="{% url 'inscription' %}">
    <button id="btn_register" class="btn my-2 mx-1 my-sm-0">S'inscrire</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block content %}
    
    <div class="container d-flex justify-content-center">
        <div id="container_form" class="shadow p-3 my-5 bg-white">
           <div class="text-center">
            <h1>S'inscrire</h1>
            <hr class="hr">
           </div>
            <div class="d-flex justify-content-center pt-3">
            <form  enctype="multipart/form-data" method="post">
                {% csrf_token %}
                
          <div class="form-group">
            <label for="id_username"><i class="fas fa-user mr-2"></i> Nom d'utilisateur</label>
            <input type="text" class="form-control" id="id_username" aria-describedby="usernameHelp" name="username" maxlength="150" required>
            <small id="usernameHelp" class="form-text text-muted">Requis. 150 caractères maximum. Uniquement des lettres, nombres et les caractères « @ », « . », « + », « - » et « _ »..</small>
          </div>
          <div class="form-group">
            <label for="id_password"><i class="fas fa-key mr-2"></i> Mot de passe</label>
            <input type="password" class="form-control" id="id_password" aria-describedby="passwordHelp" name="password" required>
            <small id="passwordHelp" class="form-text text-muted">Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.<br />
              Votre mot de passe doit contenir au minimum 8 caractères.<br />
              Votre mot de passe ne peut pas être un mot de passe couramment utilisé.<br />
              Votre mot de passe ne peut pas être entièrement numérique.</small>
          </div>
          <div class="form-group">
            <label for="id_email"><i class="fas fa-envelope mr-2"></i> Email</label>
            <input type="email" class="form-control" id="id_email" maxlength="254" name="email" required>
          </div>
          <div class="form-group">
            <label for="id_firstanme">Prénom</label>
            <input type="text" class="form-control" id="id_firstanme" name="firstname" maxlength="128" required>
          </div>
          <div class="form-group">
            <label for="id_lastname">Nom</label>
            <input type="text" class="form-control" id="id_lastname" name="lastname" maxlength="128" required>
          </div>
          <div class="form-group">
            <label for="id_address">Adresse</label>
            <input type="text" class="form-control" id="id_address" name="address" maxlength="512" required>
          </div>
          <div class="form-group">
            <label for="id_postal_code">Code postal</label>
            <input type="text" class="form-control" id="id_postal_code" name="postal_code" maxlength="16" required>
          </div>
          <div class="form-group">
            <label for="id_city">Ville</label>
            <input type="text" class="form-control" id="id_city" name="city" maxlength="128" required>
          </div>
          <div class="form-group">
            <label for="id_avatar">Photo de profil</label>
            <input type="file" class="form-control-file" id="id_avatar" accept="image/*" name="avatar">
          </div>
          <div class="form-check mt-5">
            <input class="form-check-input" type="checkbox" id="id_is_restaurateur" name="is_restaurateur">
            <label class="form-check-label" for="id_is_restaurateur">
              Vous êtes restaurateur ?
            </label>
          </div>
                  <div class="text-center my-5">
                    <button type="submit" id="btn_register" class="btn">Je m'inscris</button>
                  </div>
            </form>
        </div>
        </div>
    </div>
    <div id="hamburger_register"></div>
    <div id="salon_register"></div>
{% endblock %}

{% block footer %}
    
    {% endblock %}
